{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}


{% block title %}
  Alda
{% endblock %}


{% block content %}
  <!-- <h1 data-module="example">{{ message }}</h1> -->
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left uk-margin-left">
         <a href="http://aldabot.es" class="uk-navbar-item uk-logo uk-light">Alda</a>
    </div>

    <div class="uk-navbar-right uk-margin-right">
        <ul class="uk-navbar-nav" uk-scrollspy="target: > li; cls:uk-animation-slide-top-small; delay: 200">
            <li><a href="#faqs" uk-scroll>FAQs</a></li>
            <li><a href="https://www.facebook.com/Aldabot/" target="_blank"><button class="uk-button uk-button-default">Sign Up</button></a></li>
        </ul>
    </div>
  </nav>

  <div id="home" uk-height-viewport="offset-top: true" class="uk-section uk-section-xsmall">
    <img src="images/diamond.svg" class="home-diamond-shape uk-animation-slide-left"/>
    <img src="images/diamond.svg" class="faqs-diamond-shape uk-animation-slide-right-medium"/>
    <div class="uk-container uk-container-small">
      <div class="uk-grid-large" uk-grid-parallax>
        <div class="preview uk-animation-slide-top-small">
          <video autoplay class="preview-video"><source src="preview.mp4"></video>
          <img src="images/phone.svg" />
        </div>
        <div class="uk-flex uk-flex-middle">
          <div class="uk-animation-slide-bottom-small">
            <h1 class="uk-heading-primary">Alda</h1>
            <p class="uk-align-left">
              Your AI friend that looks after your money. <br />
              Sign up for free, it takes less than 2 minutes.
            </p>
            <div>
              <a href="https://www.facebook.com/Aldabot/" target="_blank"><button class="uk-button uk-button-default">Sign Up</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="faqs" uk-height-viewport class="uk-section">
    <div class="uk-container uk-container-expand">
      <h1 class="uk-heading-primary uk-heading-bullet">FAQ</h1>

      <ul uk-accordion="multiple: true">
        <li>
            <h3 class="uk-accordion-title">01 ¿Por qué Alda?</h3>
            <div class="uk-accordion-content">
                <p class="uk-dropcap">En pocas palabras, no creemos que los servicios o productos bancarios actuales sean lo suficientemente buenos. Nuestras finanzas deberían ser fáciles de entender, nuestros gastos deberían ser más manejables, y deberíamos poder tomar decisiones mejor informadas sobre nuestro futuro financiero. Si tenemos la capacidad de ver realmente lo que está pasando con nuestras finanzas seremos mejores gestionando. También creemos firmemente en el poder de las nuevas  tecnologías para ayudarnos a conocer mejor nuestro dinero. Y esa es la razón por la que construimos Alda.
                </p>
            </div>
          <hr/>
        </li>
        <li>
            <h3 class="uk-accordion-title">02 ¿Cómo funciona Alda?</h3>
            <div class="uk-accordion-content">
                <p>
                  Alda funciona al acceder de forma segura a los datos de sus transacciones en modo de solo lectura. Eso significa que solo puede ver sus transacciones encriptadas. Alda lo hace mediante el uso de un software financiero líder en el mundo llamado SaltEdge. Luego, Alda utiliza su inteligente inteligencia artificial para escanear su historial de transacciones, calcular y detectar tendencias de gasto interesantes, hábitos y le permite realizar un seguimiento de los presupuestos. Alda también le permite ver su saldo, verificar los débitos directos, las últimas transacciones y ver su gasto por categoría.
                </p>
            </div>
            <hr/>
        </li>
        <li>
            <h3 class="uk-accordion-title">03 ¿Qué seguridad ofrece Alda?</h3>
            <div class="uk-accordion-content">
                <p>Alda es extremadamente segura. Usamos cifrado de nivel bancario y prácticas de seguridad, y Alda es un servicio de solo lectura para que nadie pueda mover dinero dentro o fuera de su cuenta. Para acceder a su historial de transacciones, nos conectamos directamente a la API privada de su banco o usamos SaltEdge, líderes mundiales en seguridad financiera y agregación de datos. Nunca almacenamos sus credenciales en nuestros servidores y su historial de transacciones se cifra con toda la información de identificación personal que se elimina al recibirla. Solo usted y Alda pueden ver sus transacciones.
                </p>
            </div>
            <hr/>
        </li>
      </ul>
    </div>
  </div> -->

  <hr>

  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left uk-margin-left">
         <a href="http://aldabot.es" class="uk-navbar-item uk-logo">Alda</a>
    </div>

    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav">
          <li><a href="#faqs" uk-scroll>FAQs</a></li>
          <li><a href="#">Privacidad</a></li>
          <li><a href="#">Terminos & Condiciones</a></li>
      </ul>
    </div>
</nav>
{% endblock %}
