{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}


{% block title %}
Alda - FAQs
{% endblock %}

{% block background %}
  background-primary uk-light
{% endblock %}
{% block mobileBackground %}
  background-primary uk-light
{% endblock %}


{% block content %}
  <section uk-height-viewport class="uk-section uk-padding-remove-top uk-margin-remove-top">
    <h1 class="uk-heading-primary uk-text-center uk-light background-primary padding-bottom">FAQ</h1>

    <div class="fb-send-to-messenger"
      messenger_app_id="1743051222670922"
      page_id="109017126525560"
      color="blue"
      size="xlarge">
    </div>
  </section>
{% endblock %}
