@import "base/typography";
@import "base/animate.min";

// 1. Your custom variables and variable overwrites.
$global-link-color: #0072ff;
// $global-color: #0072ff;
@import "theme/utility";
@import "theme/navbar";
@import "theme/accordion";
@import "theme/offcanvas";
@import "theme/dotnav";
@import "../../node_modules/uikit/src/scss/variables-theme";

// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/mixins-theme";

// 3. Your custom mixin overwrites.
@import "theme/navbar-mixins";
@import "theme/accordion-mixins";
@import "theme/heading-mixins";
@import "theme/slideshow-mixins";

// 4. Import UIkit
@import "../../node_modules/uikit/src/scss/uikit-theme";


// HOME
.home-diamond-shape {
  position: absolute;
  top: -60vw;
  left: -60vw;
  width: 150vw;
  z-index: 1;
}

.home-diamond2-shape {
  position: absolute;
  top: 50vh;
  right: -30vw;
  width: 60vw;
  z-index: 1;
}

@media (max-width: 600px) {
  .preview-video {
    width: 75.5%;
    left: 14.2%;
    top: 10.3%;
    position: absolute;
  }
}


@media (min-width: 601px) {
  .preview-video {
    width: 75%;
    left: 14.1%;
    top: 12.4%;
    position: absolute;
  }
}


// Utilities
.z-index2 {
  z-index: 2;
}

.padding-bottom {
  padding-bottom: 20px;
}

.background-primary {
  background: linear-gradient(90deg,#00c6ff,#0072ff);
}

@media (min-width: 601px) {
    .fb-send-to-messenger {
        margin-left: 110px;
    }
}
@media (max-width: 600px) {
    .fb-send-to-messenger {
        margin-left: 55px;
    }
}

.rounded-border {
  border-radius: 15px;
}
.rounded-border-top {
  border-radius: 15px 15px 0 0;
}
.rounded-border-bottom {
  border-radius: 0 0 15px 15px;
}

// Select Provider

.bank-card {
  min-height: 150px;
  border-radius: 15px;
}
.bank-card img {
  max-height: 60px;
  max-width: 80%;
  margin: auto;
}
.provider-form div img {
  max-width: 80%;
  max-height: 60px;
}
