{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="google-site-verification" content="U7cjJ3xFANXWs-HOmv6mKJdnHzjcFk1a2UZ2VkeXJm4" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body class="uk-offcanvas-content">
    <div class="uk-overflow-hidden uk-position-relative">
    <nav class="uk-navbar-container {% block background %}{% endblock %} uk-visible@s" uk-navbar>
      <div class="uk-navbar-left uk-margin-left">
           <a href="http://aldabot.es" class="uk-navbar-item uk-logo uk-light">Alda</a>
      </div>

      <div class="uk-navbar-right uk-margin-right">
          <ul class="uk-navbar-nav" uk-scrollspy="target: > li; cls:uk-animation-slide-top-small; delay: 200">
              <li><a href="/">Inicio</a></li>
              <li><a href="faqs.html">Preguntas Frecuentes</a></li>
              <li><a href="sign-up.html" target="_blank"><button class="uk-button uk-button-default">Regístrate</button></a></li>
          </ul>
      </div>
    </nav>


    <nav class="uk-navbar-container uk-hidden@s {% block mobileBackground %}{% endblock %}" uk-navbar>
        <div class="uk-navbar-right uk-margin-right uk-margin-top">
          <ul class="uk-navbar-nav" uk-scrollspy="target: > li; cls:uk-animation-slide-top-small; delay: 200">
              <li>
                <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-nav">
                  <span uk-icon="icon: menu"></span>
                </button>
              </li>
          </ul>
        </div>


      <div id="offcanvas-nav" uk-offcanvas="overlay: true">
          <div class="uk-offcanvas-bar">
              <ul class="uk-nav uk-nav-default">
                  <li class="uk-nav-header">Alda</li>
                  <li><a href="/"><span class="uk-margin-small-right" uk-icon="icon: home"></span>Inicio</a></li>
                  <li><a href="/faqs.html"><span class="uk-margin-small-right" uk-icon="icon: question"></span>Preguntas Frecuentes</a></li>
                  <li class="uk-nav-divider"></li>
                  <li><a href="/privacidad.html"><span class="uk-margin-small-right" uk-icon="icon: info"></span> Privacidad</a></li>
              </ul>
          </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <hr class="uk-visible@s">
    <nav class="uk-navbar-container uk-margin uk-visible@s" uk-navbar>
      <div class="uk-navbar-left uk-margin-left">
           <a href="http://aldabot.es" class="uk-navbar-item uk-logo">Alda</a>
      </div>

      <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li><a href="/faqs.html" uk-scroll>Preguntas Frecuentes</a></li>
            <li><a href="/privacidad.html">Privacidad</a></li>
        </ul>
      </div>
    </nav>

</div>
    {% block javascript %}
      <script src="javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
